In [1]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme()

In [2]:
FILENAME='Case Study Data - Comp Research Associate(1)'
SHEET1 = 'recruiting_activity'
SHEET2 = 'candidate_profile'

In [67]:
df_rec = pd.read_excel("{}.xlsx".format(FILENAME), sheet_name=SHEET1)
df_prof = pd.read_excel("{}.xlsx".format(FILENAME), sheet_name=SHEET2)

In [68]:
print(df_rec.shape)
print(df_prof.shape)

(4996, 6)
(4959, 10)

In [69]:
df_rec.head()

,cand_id,position,dept,furthest_stage,app_date,app_source
0,4188467,UX Designer,Product,New Application,2018-02-03 00:00:00,Agency
1,433034,UX Designer,Product,In-House Interview,2018-12-20 00:00:00,Website
2,337226,UX Designer,Product,In-House Interview,2017-02-27 00:00:00,Agency
3,6108441,UX Designer,Product,Phone Screen,2017-06-15 00:00:00,Agency
4,1536927,UX Designer,Product,In-House Interview,2017-10-18 00:00:00,Advertisement

In [70]:
df_prof.head()

,cand_id,comp_exp,yrs_exp,industry,degree_1,school_region_1,degree_2,school_region_2,degree_3,school_region_3
0,2468,85100,36.262295,Government,PhD,region_5,Masters,region_4,Bachelors,region_2
1,2471,74700,8.373134,Other,Masters,region_2,Bachelors,region_5,NaN,NaN
2,2475,70900,30.442623,Government,Masters,region_5,Bachelors,region_3,NaN,NaN
3,2480,93000,16.567164,Government,Masters,region_2,Bachelors,region_3,NaN,NaN
4,2486,82500,11.865672,Other,Masters,region_1,Bachelors,region_5,NaN,NaN

In [71]:
df_rec.cand_id.unique().shape

(4959,)

In [72]:
df_prof.cand_id.unique().shape

(4959,)

In [73]:
[x for x in df_rec.cand_id.unique() if x not in df_prof.cand_id.unique()]

[]

In [74]:
[x for x in df_prof.cand_id.unique() if x not in df_rec.cand_id.unique()]

[]

In [75]:
df = df_rec.merge(df_prof, on='cand_id', how='left')

In [76]:
df.shape

(4996, 15)

In [77]:
df.degree_1.value_counts()

Bachelors    3302
Masters      1141
PhD           553
Name: degree_1, dtype: int64

In [78]:
df.degree_2.value_counts()

Bachelors    1153
Masters       955
PhD            28
JD              6
Name: degree_2, dtype: int64

In [79]:
df.degree_3.value_counts()

Bachelors    541
PhD          333
Masters       36
JD             4
Name: degree_3, dtype: int64

In [80]:
df['Degree Concat'] = df.degree_1.astype(str)+df.degree_2.astype(str)+df.degree_3.astype(str)

In [81]:
df['Highest Degree'] = np.where(df['Degree Concat'].str.contains('PhD'), "PhD",
                                np.where(df['Degree Concat'].str.contains('JD'), "JD", 
                                         np.where(df['Degree Concat'].str.contains('Masters'), "Masters", 
                                                  np.where(df['Degree Concat'].str.contains('Bachelors'), "Bachelors", "")
                                                  )
                                         )
                                )

In [82]:
df['Highest Degree'].value_counts()

Bachelors    2854
Masters      1228
PhD           914
Name: Highest Degree, dtype: int64

In [83]:
df.loc[df['Degree Concat'].str.contains("JD")]

,cand_id,position,dept,furthest_stage,app_date,app_source,comp_exp,yrs_exp,industry,degree_1,school_region_1,degree_2,school_region_2,degree_3,school_region_3,Degree Concat,Highest Degree
4914,3708911,Account Executive,Sales,New Application,2017-03-12 00:00:00,Advertisement,80200,7.722561,Finance,PhD,region_4,JD,region_4,Bachelors,region_3,PhDJDBachelors,PhD
4918,306159,Account Executive,Sales,New Application,2017-05-03 00:00:00,Advertisement,79600,7.448171,Government,PhD,region_1,JD,region_1,Bachelors,region_3,PhDJDBachelors,PhD
4923,709607,Account Executive,Sales,In-House Interview,2018-04-05 00:00:00,Website,79000,7.173780,Finance,PhD,region_2,JD,region_5,Bachelors,region_5,PhDJDBachelors,PhD
4925,6258941,Account Executive,Sales,Phone Screen,2018-09-04 00:00:00,Website,78800,7.082317,Technology,PhD,region_3,JD,region_3,Bachelors,region_1,PhDJDBachelors,PhD
4933,98318,Account Executive,Sales,Offer Sent,2017-01-14 00:00:00,Agency,78200,6.807927,Finance,PhD,region_3,JD,region_4,Bachelors,region_4,PhDJDBachelors,PhD
4941,2005181,Account Executive,Sales,New Application,2018-03-16 00:00:00,Advertisement,77600,6.533537,Finance,PhD,region_3,JD,region_2,Bachelors,region_1,PhDJDBachelors,PhD
4989,1698747,Account Executive,Sales,New Application,2018-09-05 00:00:00,Advertisement,69400,2.783537,Finance,PhD,region_4,Bachelors,region_3,JD,region_1,PhDBachelorsJD,PhD
4991,1769181,Account Executive,Sales,New Application,2017-07-28 00:00:00,Advertisement,67900,2.097561,Technology,PhD,region_4,Bachelors,region_3,JD,region_1,PhDBachelorsJD,PhD
4993,6089306,Account Executive,Sales,Phone Screen,2018-05-09 00:00:00,Website,67400,1.868902,Technology,PhD,region_4,Bachelors,region_2,JD,region_3,PhDBachelorsJD,PhD
4994,305522,Account Executive,Sales,New Application,2017-06-04 00:00:00,Agency,66400,1.411585,Government,PhD,region_5,Bachelors,region_2,JD,region_2,PhDBachelorsJD,PhD

In [84]:
dupes = [x[0] for x in df.groupby(['cand_id','dept']).size().loc[df.groupby(['cand_id','dept']).size().sort_values()==2].index]

In [85]:
df['furthers_stage_enc'] = df["furthest_stage"].replace({
    'New Application':1,
    'Phone Screen':2,
    'In-House Interview':3,
    'Offer Sent':4
})

In [86]:
df.furthest_stage.value_counts()

New Application       3401
Phone Screen           780
In-House Interview     691
Offer Sent             124
Name: furthest_stage, dtype: int64

In [87]:
df.furthers_stage_enc.value_counts()

1    3401
2     780
3     691
4     124
Name: furthers_stage_enc, dtype: int64

In [88]:
df = df.sort_values(['cand_id', 'dept', 'furthest_stage']).drop_duplicates(['cand_id', 'dept'], keep='last')

In [89]:
df.shape

(4966, 18)

In [118]:
funnel = df.pivot_table(values='cand_id', index=['furthest_stage'], columns='Highest Degree', aggfunc='count')
funnel = funnel.reindex(['New Application', 'Phone Screen','In-House Interview',  'Offer Sent'])
funnel['Bachelors Conversion Rate'] = funnel['Bachelors'].transform(lambda x: x / x.shift(1))

funnel['Masters Conversion Rate'] = funnel['Masters'].transform(lambda x: x / x.shift(1))
funnel['PhD Conversion Rate'] = funnel['PhD'].transform(lambda x: x /x.shift(1))

funnel = funnel.rename({'Bachelors':'Bachelors Applicants',
               'Masters':'Masters Applicants',
               'PhD':'PhD Applicants'}, axis=1)

funnel = funnel.reindex(sorted(funnel.columns), axis=1)
funnel = funnel.fillna(0)

funnel.style.format({
    'Bachelors Conversion Rate': '{:,.0%}'.format,
    'Masters Conversion Rate': '{:,.0%}'.format,
    'PhD Conversion Rate': '{:,.0%}'.format,
})

In [140]:
print(funnel.to_markdown())

| furthest_stage     |   Bachelors Applicants |   Bachelors Conversion Rate |   Masters Applicants |   Masters Conversion Rate |   PhD Applicants |   PhD Conversion Rate |
|:-------------------|-----------------------:|----------------------------:|---------------------:|--------------------------:|-----------------:|----------------------:|
| New Application    |                   2182 |                    0        |                  842 |                  0        |              354 |              0        |
| Phone Screen       |                    342 |                    0.156737 |                  174 |                  0.206651 |              264 |              0.745763 |
| In-House Interview |                    250 |                    0.730994 |                  172 |                  0.988506 |              262 |              0.992424 |
| Offer Sent         |                     64 |                    0.256    |                   30 |                  0.174419 |               30 |              0.114504 |

In [121]:
#a.	Do applicants with a PhD expect to make more than candidates who don’t have a PhD

df.groupby(['dept','Highest Degree']).comp_exp.mean()

dept         Highest Degree
Engineering  Bachelors         63545.099668
             Masters           64139.735099
             PhD               72212.866450
Finance      Bachelors         75756.877323
             Masters           78391.812865
             PhD               77026.086957
IT           Bachelors         76044.155844
             Masters           74381.250000
             PhD               64905.882353
Product      Bachelors         69537.037037
             Masters           70954.368932
             PhD               70933.783784
Sales        Bachelors         79307.237636
             Masters           79540.572391
             PhD               78435.294118
Name: comp_exp, dtype: float64

In [119]:
df

,cand_id,position,dept,furthest_stage,app_date,app_source,comp_exp,yrs_exp,industry,degree_1,school_region_1,degree_2,school_region_2,degree_3,school_region_3,Degree Concat,Highest Degree,furthers_stage_enc
820,2468,Associate Software Developer,Engineering,Offer Sent,2018-11-01 00:00:00,Campus Job Board,85100,36.262295,Government,PhD,region_5,Masters,region_4,Bachelors,region_2,PhDMastersBachelors,PhD,4
4002,2471,Associate Relationship Manager,Sales,Offer Sent,2018-12-13 00:00:00,Campus Event,74700,8.373134,Other,Masters,region_2,Bachelors,region_5,NaN,NaN,MastersBachelorsnan,Masters,4
1181,2475,Associate Software Developer,Engineering,Offer Sent,2018-12-21 00:00:00,Advertisement,70900,30.442623,Government,Masters,region_5,Bachelors,region_3,NaN,NaN,MastersBachelorsnan,Masters,4
2917,2480,Associate Relationship Manager,Sales,Offer Sent,2018-12-25 00:00:00,Campus Event,93000,16.567164,Government,Masters,region_2,Bachelors,region_3,NaN,NaN,MastersBachelorsnan,Masters,4
3290,2486,Associate Relationship Manager,Sales,Offer Sent,2018-12-06 00:00:00,Campus Event,82500,11.865672,Other,Masters,region_1,Bachelors,region_5,NaN,NaN,MastersBachelorsnan,Masters,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,6374672,Associate Software Developer,Engineering,Phone Screen,2016-11-06 00:00:00,Campus Event,69100,29.704918,Government,PhD,region_4,Masters,region_4,Bachelors,region_3,PhDMastersBachelors,PhD,2
923,6375449,Associate Software Developer,Engineering,Phone Screen,2018-01-17 00:00:00,Advertisement,75900,32.491803,Finance,PhD,region_1,Masters,region_4,Bachelors,region_1,PhDMastersBachelors,PhD,2
3546,6376227,Associate Relationship Manager,Sales,Phone Screen,2016-10-07 00:00:00,Campus Job Board,79700,10.611940,Technology,Masters,region_1,Bachelors,region_3,NaN,NaN,MastersBachelorsnan,Masters,2
1282,6377006,Associate Software Developer,Engineering,Phone Screen,2017-03-19 00:00:00,Campus Job Board,69900,30.032787,Government,PhD,region_3,Masters,region_2,Bachelors,region_4,PhDMastersBachelors,PhD,2
1575,6377786,Associate Software Developer,Engineering,Phone Screen,2017-10-01 00:00:00,Campus Job Board,67500,29.049180,Government,Bachelors,region_3,Masters,region_1,PhD,region_5,BachelorsMastersPhD,PhD,2

In [123]:
df.groupby(['dept','Highest Degree']).yrs_exp.mean()

dept         Highest Degree
Engineering  Bachelors         27.269791
             Masters           27.199736
             PhD               30.161872
Finance      Bachelors         12.017938
             Masters           13.508965
             PhD               12.882562
IT           Bachelors         13.367176
             Masters           12.675496
             PhD                9.617657
Product      Bachelors          7.884705
             Masters            9.224817
             PhD                7.821522
Sales        Bachelors         10.135428
             Masters           10.387706
             PhD                8.935670
Name: yrs_exp, dtype: float64

In [124]:
df['PhD/xPhD'] = np.where(df['Highest Degree']=='PhD',"PhD", "Not PhD")

In [125]:
df.groupby(['dept','PhD/xPhD']).comp_exp.mean()

dept         PhD/xPhD
Engineering  Not PhD     63664.342629
             PhD         72212.866450
Finance      Not PhD     76780.909091
             PhD         77026.086957
IT           Not PhD     75405.600000
             PhD         64905.882353
Product      Not PhD     69796.797153
             PhD         70933.783784
Sales        Not PhD     79404.638089
             PhD         78435.294118
Name: comp_exp, dtype: float64

In [126]:
df.groupby(['PhD/xPhD']).comp_exp.mean()

PhD/xPhD
Not PhD    71821.104536
PhD        72440.109890
Name: comp_exp, dtype: float64

In [127]:
from scipy import stats
A = df[df['PhD/xPhD']=='PhD']['comp_exp'].values.tolist()
B = df[df['PhD/xPhD']!='PhD']['comp_exp'].values.tolist()
t_check=stats.ttest_ind(A,B)
t_check
# alpha=0.05

Ttest_indResult(statistic=1.4687906508100252, pvalue=0.14195294572437875)

In [129]:
for dept in df.dept.unique():
    A = df[(df['PhD/xPhD']=='PhD')&(df.dept==dept)]['comp_exp'].values.tolist()
    B = df[(df['PhD/xPhD']!='PhD')&(df.dept==dept)]['comp_exp'].values.tolist()
    t_check=stats.ttest_ind(A,B)
    print(dept, t_check)

Engineering Ttest_indResult(statistic=16.860158034231144, pvalue=6.010553476002879e-60)
Sales Ttest_indResult(statistic=-1.4561465414618162, pvalue=0.14556292839792448)
Product Ttest_indResult(statistic=1.6891393900981306, pvalue=0.0916330114102228)
Finance Ttest_indResult(statistic=0.1042711631289842, pvalue=0.9169973553998898)
IT Ttest_indResult(statistic=-4.439021062287182, pvalue=1.695028188027191e-05)

In [162]:
def expectation_differences(df, var, alpha=0.05):
    for v in df[var].unique():
        A = df[(df['PhD/xPhD']=='PhD')&(df[var]==v)]['comp_exp'].values.tolist()
        B = df[(df['PhD/xPhD']!='PhD')&(df[var]==v)]['comp_exp'].values.tolist()
        t_check=stats.ttest_ind(A,B)
        sig = "Yes" if t_check[1]<alpha else "No"
        print(var, ": {} | PhD Expectations: {:.0f}| XPhD Expectations: {:.0f} | Diff: {:.1%} | Sig?: {}".format(v,np.mean(A), np.mean(B), np.mean(A)/np.mean(B)-1, sig))

In [163]:
expectation_differences(df, var='industry', alpha=0.05)

industry : Government | PhD Expectations: 72520| XPhD Expectations: 71872 | Diff: 0.9% | Sig?: No
industry : Other | PhD Expectations: 73821| XPhD Expectations: 71844 | Diff: 2.8% | Sig?: No
industry : Finance | PhD Expectations: 71740| XPhD Expectations: 71766 | Diff: -0.0% | Sig?: No
industry : Technology | PhD Expectations: 71679| XPhD Expectations: 71804 | Diff: -0.2% | Sig?: No

In [164]:
expectation_differences(df, var='dept', alpha=0.05)

dept : Engineering | PhD Expectations: 72213| XPhD Expectations: 63664 | Diff: 13.4% | Sig?: Yes
dept : Sales | PhD Expectations: 78435| XPhD Expectations: 79405 | Diff: -1.2% | Sig?: No
dept : Product | PhD Expectations: 70934| XPhD Expectations: 69797 | Diff: 1.6% | Sig?: No
dept : Finance | PhD Expectations: 77026| XPhD Expectations: 76781 | Diff: 0.3% | Sig?: No
dept : IT | PhD Expectations: 64906| XPhD Expectations: 75406 | Diff: -13.9% | Sig?: Yes

In [132]:
df.corr()

C:\Users\Steve\AppData\Local\Temp\ipykernel_18532\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                     cand_id  comp_exp   yrs_exp  furthers_stage_enc
cand_id             1.000000  0.102038 -0.107227            0.160530
comp_exp            0.102038  1.000000 -0.171959            0.056151
yrs_exp            -0.107227 -0.171959  1.000000           -0.017641
furthers_stage_enc  0.160530  0.056151 -0.017641            1.000000

In [169]:
for ind in df.industry.unique():
    print("{} | {}".format(ind, df.loc[df.industry==ind].corr(numeric_only=True).loc["yrs_exp","comp_exp"]))

Government | -0.21006674307654422
Other | -0.11852629684610715
Finance | -0.22290449878704857
Technology | -0.18505137440421593

In [170]:
for ind in df.dept.unique():
    print("{} | {}".format(ind, df.loc[df.dept==ind].corr(numeric_only=True).loc["yrs_exp","comp_exp"]))

Engineering | 0.3635376715049671
Sales | 0.9386079313813136
Product | 0.9269334156589362
Finance | 0.9400767683714518
IT | 0.9376046066040987

In [172]:
for ind in df.position.unique():
    print("{} | {}".format(ind, df.loc[df.position==ind].corr(numeric_only=True).loc["yrs_exp","comp_exp"]))

Associate Software Developer | 0.885691890943713
Associate Relationship Manager | 0.9999999999999996
Associate Product Manager | 0.9920912254335537
Finance Manager | 0.9999999999999993
Finance Generalist | 0.9999999999999998
Business Operations Manager | 0.9553459910355876
Sr. Business Analyst | 0.9999999999999999
Sr. Product Manager | 1.0000000000000007
IT Analyst | 1.0
Sr. Software Engineer | 0.22913390122905342
UX Designer | 1.0000000000000002
Financial Analyst | 1.0000000000000002
Account Executive | 0.965738472793396

In [145]:
print(df.drop(['Degree Concat','furthers_stage_enc','PhD/xPhD'], axis=1).head().to_markdown())

|      |   cand_id | position                       | dept        | furthest_stage   | app_date            | app_source       |   comp_exp |   yrs_exp | industry   | degree_1   | school_region_1   | degree_2   | school_region_2   | degree_3   | school_region_3   | Highest Degree   |
|-----:|----------:|:-------------------------------|:------------|:-----------------|:--------------------|:-----------------|-----------:|----------:|:-----------|:-----------|:------------------|:-----------|:------------------|:-----------|:------------------|:-----------------|
|  820 |      2468 | Associate Software Developer   | Engineering | Offer Sent       | 2018-11-01 00:00:00 | Campus Job Board |      85100 |  36.2623  | Government | PhD        | region_5          | Masters    | region_4          | Bachelors  | region_2          | PhD              |
| 4002 |      2471 | Associate Relationship Manager | Sales       | Offer Sent       | 2018-12-13 00:00:00 | Campus Event     |      74700 |   8.37313 | Other      | Masters    | region_2          | Bachelors  | region_5          | nan        | nan               | Masters          |
| 1181 |      2475 | Associate Software Developer   | Engineering | Offer Sent       | 2018-12-21 00:00:00 | Advertisement    |      70900 |  30.4426  | Government | Masters    | region_5          | Bachelors  | region_3          | nan        | nan               | Masters          |
| 2917 |      2480 | Associate Relationship Manager | Sales       | Offer Sent       | 2018-12-25 00:00:00 | Campus Event     |      93000 |  16.5672  | Government | Masters    | region_2          | Bachelors  | region_3          | nan        | nan               | Masters          |
| 3290 |      2486 | Associate Relationship Manager | Sales       | Offer Sent       | 2018-12-06 00:00:00 | Campus Event     |      82500 |  11.8657  | Other      | Masters    | region_1          | Bachelors  | region_5          | nan        | nan               | Masters          |

In [174]:
df.columns

Index(['cand_id', 'position', 'dept', 'furthest_stage', 'app_date',
       'app_source', 'comp_exp', 'yrs_exp', 'industry', 'degree_1',
       'school_region_1', 'degree_2', 'school_region_2', 'degree_3',
       'school_region_3', 'Degree Concat', 'Highest Degree',
       'furthers_stage_enc', 'PhD/xPhD'],
      dtype='object')

In [220]:
cols = [
    # 'position', 
        'dept', 
        'furthest_stage', 'app_source', 'comp_exp', 'yrs_exp', 'industry','Highest Degree']

In [221]:
X = pd.get_dummies(df[cols], drop_first='True').drop(['comp_exp'], axis=1)
y = np.log(df.comp_exp)

import numpy as np
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X, y)
reg.score(X, y)

0.7426168740229018

In [222]:
coefficients = pd.concat([pd.DataFrame(X.columns),pd.DataFrame(np.transpose(reg.coef_))], axis = 1)
coefficients.to_csv('test.csv')

In [223]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]

In [227]:
import statsmodels.api as sm
from scipy import stats

X = pd.get_dummies(df[cols], drop_first='True').drop(['comp_exp'], axis=1)
y = np.log(df.comp_exp)

X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               comp_exp   R-squared:                       0.743
Model:                            OLS   Adj. R-squared:                  0.742
Method:                 Least Squares   F-statistic:                     713.4
Date:                Wed, 05 Apr 2023   Prob (F-statistic):               0.00
Time:                        18:47:26   Log-Likelihood:                 5740.6
No. Observations:                4966   AIC:                        -1.144e+04
Df Residuals:                    4945   BIC:                        -1.130e+04
Df Model:                          20
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                             10.3581      0.011    950.260      0.000      10.337      10.379
yrs_exp                            0.0256      0.000     74.421      0.000       0.025       0.026
dept_Finance                       0.5256      0.007     76.319      0.000       0.512       0.539
dept_IT                            0.4765      0.009     55.540      0.000       0.460       0.493
dept_Product                       0.5704      0.008     74.001      0.000       0.555       0.586
dept_Sales                         0.6530      0.007     97.057      0.000       0.640       0.666
furthest_stage_New Application     0.0068      0.003      2.017      0.044       0.000       0.013
furthest_stage_Offer Sent         -0.0014      0.007     -0.188      0.851      -0.016       0.013
furthest_stage_Phone Screen       -0.0017      0.004     -0.434      0.664      -0.010       0.006
app_source_Agency                  0.0735      0.006     11.875      0.000       0.061       0.086
app_source_Campus Event           -0.0034      0.005     -0.719      0.472      -0.013       0.006
app_source_Campus Job Board       -0.0009      0.004     -0.225      0.822      -0.009       0.007
app_source_Career Fair            -0.0021      0.004     -0.505      0.614      -0.010       0.006
app_source_Internal Referral       0.0519      0.012      4.255      0.000       0.028       0.076
app_source_Outsourced             -0.0472      0.010     -4.955      0.000      -0.066      -0.029
app_source_Website                 0.0222      0.005      4.779      0.000       0.013       0.031
industry_Government               -0.0002      0.003     -0.079      0.937      -0.006       0.006
industry_Other                    -0.0012      0.003     -0.404      0.686      -0.007       0.005
industry_Technology               -0.0034      0.003     -1.109      0.267      -0.009       0.003
Highest Degree_Masters            -0.0015      0.003     -0.557      0.577      -0.007       0.004
Highest Degree_PhD                 0.0331      0.003      9.947      0.000       0.027       0.040
==============================================================================
Omnibus:                     7422.224   Durbin-Watson:                   2.040
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         91962257.454
Skew:                          -7.831   Prob(JB):                         0.00
Kurtosis:                     669.480   Cond. No.                         316.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [228]:
df.dept.value_counts()

Engineering    2120
Sales          1491
Product         710
Finance         486
IT              159
Name: dept, dtype: int64

In [229]:
import statsmodels.api as sm
from scipy import stats

X = pd.get_dummies(df[cols].loc[df.dept=='Finance'], drop_first='True').drop(['comp_exp'], axis=1)
y = np.log(df.loc[df.dept=='Finance'].comp_exp)

X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               comp_exp   R-squared:                       0.926
Model:                            OLS   Adj. R-squared:                  0.924
Method:                 Least Squares   F-statistic:                     369.2
Date:                Wed, 05 Apr 2023   Prob (F-statistic):          8.32e-254
Time:                        18:50:52   Log-Likelihood:                 703.51
No. Observations:                 486   AIC:                            -1373.
Df Residuals:                     469   BIC:                            -1302.
Df Model:                          16
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                             10.8854      0.016    670.737      0.000      10.854      10.917
yrs_exp                            0.0251      0.001     36.104      0.000       0.024       0.026
furthest_stage_New Application     0.0253      0.008      3.309      0.001       0.010       0.040
furthest_stage_Offer Sent         -0.0134      0.015     -0.908      0.364      -0.043       0.016
furthest_stage_Phone Screen        0.0129      0.009      1.399      0.162      -0.005       0.031
app_source_Agency                  0.0589      0.011      5.418      0.000       0.038       0.080
app_source_Campus Event           -0.0961      0.024     -4.045      0.000      -0.143      -0.049
app_source_Campus Job Board       -0.1071      0.019     -5.570      0.000      -0.145      -0.069
app_source_Career Fair            -0.0098      0.013     -0.773      0.440      -0.035       0.015
app_source_Internal Referral       0.0381      0.015      2.503      0.013       0.008       0.068
app_source_Outsourced             -0.0608      0.013     -4.725      0.000      -0.086      -0.036
app_source_Website                 0.0643      0.011      5.934      0.000       0.043       0.086
industry_Government             6.773e-05      0.008      0.009      0.993      -0.015       0.015
industry_Other                    -0.0012      0.008     -0.163      0.871      -0.016       0.014
industry_Technology                0.0098      0.008      1.242      0.215      -0.006       0.025
Highest Degree_Masters            -0.0119      0.006     -1.968      0.050      -0.024   -1.66e-05
Highest Degree_PhD                -0.0139      0.010     -1.396      0.163      -0.034       0.006
==============================================================================
Omnibus:                       10.775   Durbin-Watson:                   1.987
Prob(Omnibus):                  0.005   Jarque-Bera (JB):               10.893
Skew:                          -0.361   Prob(JB):                      0.00431
Kurtosis:                       3.131   Cond. No.                         168.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [235]:
est2.summary().tables[1].loc['Highest Degree_PhD']

AttributeError: 'SimpleTable' object has no attribute 'loc'